/* import style from google font */
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap'); 

*{
    padding: 0;
    border: none;
    margin: 0;
}


body{
    font-weight: 300;

}

/*headings and logo */

h1, h2 {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: green;
    font-size: medium;
}

#logo {
    float: left; 
}

#menu, #logo {
    line-height: 75px
}

#menu{
    font-size: medium;
    letter-spacing: 4px;
    
}

.active{
    border-bottom: 1px solid gray;
}

#menu li {
    text-decoration: none;
    float: right;
    list-style: none;
    margin-right: 30px;
    font-size: medium;
    letter-spacing: 4px;
}

#menu a {
    text-decoration: none;
}
#menu a:hover {
    border-bottom: 1px solid gray;
}